/* Path: assets/css/main.css */
:root {
	--white: #fff;
	--black: #000;
	--gray: #8b8b8b;
	--highlight: #e5ffc3;
	--red: #e4002b;
	--green: #24d05a;
	--pink: #eb4888;
	--blue: #10a2f5;
	--yellow: #e9bc3f;
}


/* Change the fonts for the headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

/* Set the width of the body */
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: oldlace;
}

button {
  width: 120px;
  height: 30px;
  border: 2px solid var(--gray);
  border-radius: 15px;
  box-sizing: border-box;
  color: var(--gray);
  font-size: 1rem;
  overflow: auto;
  transition: 0.4s ease all;
  background: none;
}

button:hover {
  background: rgba(150, 151, 156, 0.1);
  cursor: pointer;
}

.container {
  margin: 50px auto;
  padding: 5px;
  max-width: 650px;
}

@media (max-width: 650px) {
  .container {
    padding: 20px;
  }
}
  
.nav {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

/* FontAwesome icons */
.fa-brands {
  font-size: x-large;
  color: black;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.header .subtitle {
  color: rgb(100, 100, 100);
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.header .subsubtitle {
  margin-top: 0px;
  text-transform: uppercase;
  color: rgb(80, 0, 0);
  font-size: 1.1rem;
  font-weight: 500;
  font-family: Georgia,serif;
  text-decoration: none;
}

.header .links a {
  /*Remove underline for links*/
  text-decoration: none;
}

.header .links i {
  padding-right: 10px;
}

.logos {
  display: flex;
  gap: 10px;
}

.header-year {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.name-frame {
  max-width: 350px;
}

#full-name {
  font-size: 2.5rem;
  font-family: 'Noto Sans Mono', monospace;
}

/* Make the image circular */
.img-frame {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 0 10px 0;
  border-radius: 50%;
  overflow: hidden;
}

.img-frame img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 100%;
}

#skill-container {
  position: relative;
  overflow: hidden;
}

#skill-container::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  background: #d9f3df80;
  transition: height 0.5s;
}

#skill-container:hover::before {
  height: var(--fill-height, 0);
}

.skills-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.skill {
  cursor: pointer;
  display: inline-block;
  transition: color 0.3s;
}

.skill:hover {
  color: #32a852;
}

.resume-section {
	display: none;
}

.resume-section.show {
  display: block;
}

.resume-heading {
  margin-bottom: 0px;
}

.resume-title {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
}

.resume-subtitle {
  font-family: Mukta, sans-serif;
}

.resume-description-para {
  margin-top: 0px;
  margin-bottom: 0px;
  /* margin-left: 15px; */
  margin-right: 15px;
  font-family: Open Sans, sans-serif;
  line-height: 1.5;
}

.college {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  flex-wrap: wrap;
}

.toggle {
  display: flex;
  justify-content: space-between;
}

.toggle .show {
  border-color: var(--green);
  color: var(--green);
}